<!-- <mat-sidenav-container fullscreen>
    <mat-sidenav [opened]="true" #sidenav [fixedInViewport]="true" mode="push" class="sidenav">

        <mat-nav-list>
            <a mat-list-item routerLink='/first'>First Component</a>
            <a mat-list-item routerLink='/second'>Second Component</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <app-toolbar></app-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> -->


<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    Servicio Data Transfer
  </mat-toolbar>
  
  <mat-sidenav-container >
    <mat-sidenav mode="side" [(opened)]="opened">
        <mat-nav-list>
            <a mat-list-item routerLink='/padreHijo'>Componente padre a hijo</a>
            <a mat-list-item routerLink='/desanidados'>Componentes desanidados</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>